{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    {{ include('Admin/fusionEtudiantCompte/_form.html.twig') }}

    <a href="{{ path('app_compte_etudiant_index') }}" class="btn btn-secondary col-md-1">Retour Liste</a>
{% endblock %}
